<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/phone.css" />
  </head>
  <body>
    <div class="container">
      <h1>Fun N' Chat</h1>
      <div class="options-panel">
        <button id="joinRoomBtn" class="phone-btn">Create/Join Room</button>
        <button id="joinGameBtn" class="phone-btn">Join Game As Player</button>
      </div>
      <div id="roomForm" class="room-form">
        <h2 id="roomFormHeader">Enter Room Code</h2>
        <input id="roomCodeInput" type="text" />
        <a id="destinationLink">Join Room</a>
      </div>
    </div>
    <script src="/js/home.js"></script>
  </body>
</html>
