body {
  background: white;
}

.container {
  background: #eee;
  height: 100vh;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  width: 95%;
}

h1 {
  font-size: 3em;
  padding: 15px;
}

.phone-btn {
  border-radius: 25px;
  margin: 15px auto;
  padding: 25px;
  width: 80%;
}

/* HOME */
.options-panel {
  display: flex;
  flex-direction: column;
}

#roomForm {
  display: none;
}
